__pycache__/
*.py[cod]
.venv/
venv/
saves/
/settings/
api_key
api_key_*
/deepseek
/openai
/openrouter
/custom
/local
src/frontend/node_modules/
src/frontend/dist/
src/frontend/*.tsbuildinfo
/dist/
/build/
.pytest_cache/
.idea/
.vscode/
*.zip
